@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Manrope';
    }
    .limit-width {
        @apply mx-auto max-w-7xl px-4
    }
    .limit-width-child-for-full-bg {
        @apply mx-auto max-w-7xl
    }

    h1 {
        @apply text-[18px] leading-[25px] text-black font-bold
    }
    @screen md {
        h1 {
            @apply text-[25px] leading-[34px]
        }
    }
    @screen xl{
        h1 {
            @apply text-[32px] leading-[44px]
        }
    }

    /* ____________________________________________________ */

    h2 {
        @apply text-base text-black font-bold
    }
    @screen md {
        h2 {
            @apply text-xl
        }
    }
    @screen xl {
        h2 {
            @apply text-2xl
        }
    }

    /* ____________________________________________________ */

    h3 {
        @apply text-sm text-black font-bold
    }
    @screen md {
        h3 {
            @apply text-base
        }
    }
    @screen xl {
        h3 {
            @apply text-lg
        }
    }

    /* ____________________________________________________ */

    p {
        @apply text-xs text-black
    }
    @screen md {
        p {
            @apply text-sm
        }
    }
    @screen xl {
        p {
            @apply text-sm
        }
    }

    /* ____________________________________________________ */

    span {
        @apply text-[10px] text-[#575F6C]
    }
    @screen md {
        span {
            @apply text-xs
        }
    }
    @screen xl {
        span {
            @apply text-xs
        }
    }

    /* ____________________________________________________ */

    a {
        @apply text-[10px] text-[#0048B7]
    }
    @screen md {
        a {
            @apply text-sm
        }
    }
    @screen xl {
        
    }

    /* ____________________________________________________ */

    button {
        @apply bg-[#0048B7] rounded-md text-white text-sm p-2
    }

    /* ____________________________________________________ */

    img {
        @apply w-full object-cover object-center
    }

    /* ____________________________________________________ */

    body {
        @apply bg-[#F9F9F9]
    }

    /* ____________________________________________________ */

    /* .limit-width-child-for-full-bg .slick-initialized {
        @apply mr-10
    } */

    .limit-width-child-for-full-bg .slick-arrow {
        @apply -top-8 z-10
    }
    .limit-width-child-for-full-bg .slick-next {
        @apply right-4
    }
    .limit-width-child-for-full-bg .slick-prev {
        right: 6rem !important;
        left: auto !important;
    }
    .limit-width-child-for-full-bg .slick-prev:before, .slick-next:before {
        color: #0048B7 !important;
    }

    .news-of-the-day_ {
        margin-bottom: 2rem;
      }
      .news-of-the-day_  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1rem;
      }
      .news-title_ {
        background-color: #ffffff;
        padding: 1rem;
        border: 2px solid #cfcfcf;
        border-radius: 12px;
      }
      .news-paragraph_ {
        background-color: #ffffff;
        padding: 1rem;
        border: 2px solid #cfcfcf;
        border-radius: 12px;
      }

      ._play-button {
        transform: translate(-50%, -50%);
        z-index: 20;
      }
      ._overlap {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.804359243697479) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      @screen sm {
        .news-of-the-day_  {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          background-color: #ffffff;
          padding: 2rem;
          border: 2px solid #cfcfcf;
          border-radius: 12px;
          grid-row-gap: 1rem;
          grid-column-gap: 2rem;
        }
        .news-title_ {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            border: none;
            border-radius: none;
        }
        .news-paragraph_ {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            border: none;
            border-radius: none;
        }
        .news-of-the-day_ :nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .news-of-the-day_ :nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .news-of-the-day_ :nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .news-of-the-day_ :nth-child(5) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }

      }
      @screen lg {
        .news-of-the-day_  {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          background-color: #ffffff;
          padding: 2rem;
          border: 2px solid #cfcfcf;
          border-radius: 12px;
          grid-row-gap: 1rem;
          grid-column-gap: 2rem;
        }
        .news-title_ {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
        }
        .news-paragraph_ {
          grid-column-start: 3;
          grid-column-end: 5;
        }
        .news-of-the-day_ :nth-child(2) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .news-of-the-day_ :nth-child(3) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .news-of-the-day_ :nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .news-of-the-day_ :nth-child(5) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }

      } 
}